body {
  background-image: url(https://wallpaperaccess.com/full/1186563.jpg) center no-r;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.digitCard {
  border: 1px solid #000;
  border-radius: 10px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.level {
  font: 20px;
  text-align: center;
  padding: 10px;
}

.img {
  display: block;
  width: 30%;
  margin: 0 auto;
}
