body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZmKJh7bHS5_YXLbkN92un2Bz8ObzJdggRvejKrT38FcsqURs9dTVDw98GNwn7ybOfr5s&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  color: #fff;
}

.digitCard {
  border: 1px solid #000;
  border-radius: 10px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.level {
  font: 20px;
  text-align: center;
  padding: 10px;
}

.img {
  display: block;
  width: 30%;
  margin: 0 auto;
}
