body {
  background-image: url("https://64.media.tumblr.com/3c869e4de93ae5e91f03553be9019335/tumblr_p6idqbWvgp1st5shfo1_1280.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  color: rgb(7, 51, 247);
}

.digitCard {
  border: 3px solid rgb(7, 7, 7);
  border-radius: 10px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.level {
  font: 20px;
  text-align: center;
  padding: 10px;
}

.img {
  display: block;
  width: 30%;
  margin: 0 auto;
}
