body {
  background-image: url("https://i.pinimg.com/originals/03/cf/90/03cf904628a9dedea2c8647a50be4287.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  color: #fff;
}

.digitCard {
  border: 1px solid #000;
  border-radius: 10px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.level {
  font: 20px;
  text-align: center;
  padding: 10px;
}

.img {
  display: block;
  width: 30%;
  margin: 0 auto;
}
